@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
    --nord7: #8fBCBB;
    --nord8: #acddeb77;
    --nord9: #57585a;
    --nord10:#5E81AC;
    --nord11: #1f446e;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: (70,70,70);
    margin:0;
    padding:0;
}

#hero-bg{
    background: url(http://www.dtf-v.com/images/banner-health2.jpg);
    margin:0;
    padding:0;
}

.navbar {
    background: var(--nord7);
    padding: 1em;
}

header {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--nord10);
}

a:hover{
    color: var(--nord9);
    font-size: larger;
}

.top{
    position:relative;
    right: 30%;
    color: var(--nord9);
}

.top h1{
    font-size: 3rem;
}

.top span{
    font-style:italic;
    font-size:110%;
    color: var(--nord11);
}
#logo {
    margin-top: 2em;
    width: 10em;
}

.banner {
    clear: both;
    font-size: 1.5rem;
    color: var(--nord11);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.banner p {
    font-family: 'Caveat', cursive;
}

.whoweare{
    margin: 0.5em 4em;
    border: solid var(--nord8)0.5px;
    padding: 0.5em 4em;
    border-radius: 2em;
    background-color: var(--nord8);
}

.heading{
    color: var(--nord10);
    font-size: larger;
}

.Überblick{
    margin: 1.5em 0 0.5em 8em;
}

.Überblick h3{
    color: var(--nord10);
    font-size: larger;
}
hr{
    float:left;
}

table ,td, th {
    color: var(--nord9);
    border: solid 2px rgb(46, 45, 44);
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

#t01 tr:nth-child(even) {
    background-color: var(--nord8);
}
    #t01 tr:nth-child(odd) {
    background-color: #fff;
}

ul {
    margin-left: 1.5em;
    padding: 0em;
}

.leistungen{
    background-color: #eceff4;
    border-radius: 1em;
    
}

.leistungen h2{
    padding-top: 2em;
    text-align: center;
    color: var(--nord10);
}
.leistung1{
    display: table;
    padding: 0.5em 4em;
    box-sizing: border-box;
    border-bottom: var(--nord8) dotted 1em;
 }

.leistung1 img {
    float: left;
    text-align:center;
    width: 45%;
    height: 20em;
    margin: 1em 2em 1.5em 0;
    border-radius: 2em;
}

.leistung1 h3{
    color: var(--nord10);
}

.leistung1 p{
    float:left;
    width: 45%;
    margin-left: 1em;
    margin-top: 1em;
}

footer {
    overflow: hidden;
    margin: 2em 0 6em 0;
}



.commercial-video{
    clear: both;
}

nav ul li {
    display: inline;
    margin: 0 5em 0 5em;
}

nav {
    margin: 2em auto 0 auto;
}

footer ul li{
    list-style: none;
    display: inline;
    padding: 0 5em;
}

footer ul{
    margin: 3em auto .5em auto;
}

.infos{
    text-align: center;
}

.kontakt-form{
    padding: 4em;
    background-color: #e5e9f0;
}

.field{
    display: block;
    margin-left: 15%;
    margin-right: auto;
}
.field label{
    display: inline-block;
    width: 9em;
    padding: 0.4em;
}

.field input {
    width: 35.5em;
    padding: 0.4em;
    border-radius: 0.2em;
}

.field select{
    width: 36.5em;
    padding: 0.4em;
    border-radius: 0.2em;
}

#kontakt_message{
    width: 30em;
    height: 20em;
    resize: none;
    border-radius: 0.2em;
    font-family: inherit;
    vertical-align: top;
}

.kontakt-form button{
    display: block;
    margin: auto;
    font-size: large;
    border-radius: 0.2em;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #5e81ac;
    color: #eceff4;
}

.kontakt-form button:hover{
    background-color: #81a1c1;
    color: #eceff4 ;
}





