:root{
    --nord7: #8fBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10:#5E81AC;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: (70,70,70);
    margin:0;
    padding:0;
}

.navbar {
    background: var(--nord7);
    padding: 1em;
    
}


#hero-bg{
    background: url(http://www.dtf-v.com/images/banner-health2.jpg);
    margin:0;
    padding:0;

}
.top{
    position:relative;
    right: 30%;
}



table ,td, th {
    border: solid 2px rgb(46, 45, 44);
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

ul {
    margin-left: 1.5em;
    padding: 0em;
}

footer {
    overflow: hidden;
    margin: 2em 0 6em 0;
}

img {
    width: 30em;
}

#logo {
    margin: 2em 0 0 2em;
    width: 5em;
}

header {
    margin: 1em 0 0 0;
    text-align: center;
}

.banner {
    clear: both;
}

a {
    text-decoration: none;
    color: var(--nord10);
    font-weight: bold;
}
a:hover{
    color: var(--nord9);
}

nav ul li {
    display: inline;
    margin: 0 5em 0 5em;
}

nav {
    margin: 5em auto;
}
footer ul li{
    list-style: none;
    display: inline;
    padding: 0 5em;
}
footer ul{
    margin: 3em auto .5em auto;
}
.infos{
    text-align: center;
}
