@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root{
    --nord7: #8fBCBB;
    --nord8: #acddeb77;
    --nord9: #57585a;
    --nord10:#5E81AC;
    --nord11: #1f446e;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: (70,70,70);
    margin:0;
    padding:0;
}

/*Top*/

#hero-bg{
    background: url(http://www.dtf-v.com/images/banner-health2.jpg);
    margin:0;
    padding:0;
}

.navbar {
    background: var(--nord7);
    padding: 1em;
}

header {
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 5em 0 5em;
}

nav {
    margin: 2em auto 0 auto;
}

a {
    text-decoration: none;
    color: var(--nord10);
}

nav a:hover{
    color: var(--nord9);
    font-size: larger;
}

.top{
    position:relative;
    right: 30%;
    color: var(--nord9);
}

.top h1{
    font-size: 3rem;
}

.top span{
    font-style:italic;
    font-size:110%;
    color: var(--nord11);
}

.banner {
    clear: both;
    font-size: 1.5rem;
    color: var(--nord11);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo{
    width:10em;
    margin: 5em auto 2em auto;
}
.banner p {
    font-family: 'Caveat', cursive;
}


/*Wer Wir Sind*/

.whoweare{
    box-shadow: 0.5em 0.5em 0.5em var(--nord7);
    margin: 3em 4em;
    border: solid var(--nord8)0.5px;
    padding: 0.5em 4em;
    border-radius: 2em;
    background-color: var(--nord8);
}

.heading{
    color: var(--nord10);
    font-size: larger;
}

/*Überblick*/

.Überblick{
    margin: 1.5em 0 0.5em 8em;
}

.Überblick h3{
    color: var(--nord10);
    font-size: larger;
}

table ,td, th {
    color: var(--nord9);
    border: solid 2px rgb(46, 45, 44);
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

#t01 tr:nth-child(even) {
    background-color: var(--nord8);
}
    #t01 tr:nth-child(odd) {
    background-color: #fff;
}

ul {
    margin-left: 1.5em;
    padding: 0em;
}


/*Leistungen*/

.leistungen{
    background-color: #eceff4;
    margin-top:5em;
}

.leistungen h2{
    padding-top: 2em;
    text-align: center;
    color: var(--nord10);
}
.leistungen h3{
    color: var(--nord10);
}
.leistung{
    display: table;
    padding: 0.5em 4em 0 4em;
    box-sizing: border-box;
    border-bottom: var(--nord8) dotted 1em;
 }

.leistungen img {
    box-shadow: 0.5em 0.5em 0.5em var(--nord10);
    float: left;
    text-align:center;
    width:30em;
    height: 20em;
    margin: 1em 2em 3em 0;
    border-radius: 2em;
}
.leistungen p{
    float:left;
    width: 45%;
    margin-left: 1em;
    margin-top: 1em;
}
.leistung1{
    display: table;
    padding: 0.5em 4em 0 4em;
    box-sizing: border-box;
}

/*Video-Section*/

.commercial-video{
    text-align: center;
    background-color: var(--nord8);
    padding: 3em 0 35em 0;
}

.calculator{
    
    position:absolute;
    left:5em;
    color: var(--nord10);
}

.commercial-video h4{
    color: var(--nord10);
    font-size: larger;
}

.video{
    right:5em;
    position:absolute;
}

.slider {
    background: var(--nord11);
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1; 
  }

/*News-Form*/
.news-dash{
    clear:both;
}

/*Footer*/

footer {
    
    color: var(--nord11);
    background-color: var(--nord7);
    padding: 2em 2em 4em 2em;
    overflow: hidden;
    text-align: center;
    margin-top: 5em;
}

footer a{
    color: var(--nord11);
}

footer a:hover{
    color: var(--nord10);
    font-size: 110%;
    position:relative;
}

.details ul {
    display:block;
    margin-bottom:6em;
    list-style: none;
}
.details ul li{
    margin: 2em;
}
.details span{
    margin:0 0.5em 0 0;
    color:var(--nord9);
}

.infos ul{
    margin-top: 2em;
}

.infos p{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.infos ul li{
    list-style: none;
    display: inline;
    padding: 0 5em;
}


/*Kontakt Style*/

.kontakt-form{
    padding: 4em;
    background-color: #e5e9f0;
}

.field{
    display: block;
    margin-left: 15%;
    margin-right: auto;
}
.field label{
    display: inline-block;
    width: 9em;
    padding: 0.4em;
}

.field input {
    width: 35.5em;
    padding: 0.4em;
    border-radius: 0.2em;
}

.field select{
    width: 36.5em;
    padding: 0.4em;
    border-radius: 0.2em;
}

#kontakt_message{
    width: 30em;
    height: 20em;
    resize: none;
    border-radius: 0.2em;
    font-family: inherit;
    vertical-align: top;
}

.kontakt-form button{
    display: block;
    margin: auto;
    font-size: large;
    border-radius: 0.2em;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #5e81ac;
    color: #eceff4;
}

.kontakt-form button:hover{
    background-color: #81a1c1;
    color: #eceff4 ;
}





